<body style="background-color:black;">
<div class ="center">
<h1>Woon Ye Wyn</h1>
</div>
<ul>
  <li><a class="active" href="#home">Education</a></li>
  <li><a href="#news">Experience</a></li>
  <li><a href="#contact">Skills</a></li>
</ul>

